<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/aboutus.css" />
    <title>Movie App</title>
  </head>

  <body>
    <%- include('../views/header'); %>
    
    <div class="container">
        <h1 style="color: white;">7 стадий становления крутого программиста</h1>
        <h4 style="color: white;">О том, что надо пережить, чтобы понять — я <i>на вершине</i></h4>
        <ul class="timeline">
      
          <li class="timeline">
            <div class="icon done"></div>
            <details class="panel">
              <summary>Я ничего не знаю</summary>
              <p><strong>Проблема:</strong> А стоит ли продолжать?<br><br>
                <strong>Описание:</strong> Самое сложное в любой профессии — выбрать специализацию и начать обучение. Разумеется, всё это сопровождается непрерывным самобичеванием, ложным ощущением бездарности и превозношением тех, кто способен что-то создать на выбранном языке программирования.
              </p>
            </details>
          </li>
      
          <li class="timeline">
            <div class="icon done"></div>
            <details class="panel">
              <summary>Кажется, у меня есть талант</summary>
              <p>Когда за плечами есть опыт полноценной реализации простого проекта, появляется тяга к более глубокому изучению языка. Вы начинаете обращать внимание на профессиональные мелочи: чувствительность регистров, названия, порядок, скорость исполнения. Читая форумы, начинаете отличать «нубов» от профессионалов. Всерьёз задумываетесь о том, чтобы сделать программирование профессией, но для этого необходимо портфолио, подтверждение собственных знаний и практический опыт работы со сторонним заказчиком.</p>
            </details>
          </li>
      
          <li class="timeline">
            <div class="icon working"></div>
            <details class="panel">
              <summary>Я невероятно хорош</summary>
              <p>Первые клиенты не слишком требовательны. Они прекрасно понимают, что для вас это первый опыт, а значит требовать чего-то серьёзного бессмысленно, зато можно сэкономить.  Вас же буквально распирает от собственного ума, ведь буквально вчера вы не понимали ничего в программировании, а сегодня за довольно простой проект платят реальные деньги.
                <br>
                Всё свободное время занято работой, нет никакого желания останавливаться, и лишь ваша фантазия в короткие перерывы рисует картины счастья и безмятежности. </p>
            </details>
          </li>
      
          <li class="timeline">
            <div class="icon"></div>
            <details class="panel">
              <summary>Оказывается, я всё-таки ничего не знаю</summary>
              <p>Волна критики вынуждает вас срочно взять отпуск или уволиться. Вам надо отдохнуть от этой суеты и подумать о будущем. К счастью, довольно быстро получается понять, что программирование – то, к чему лежит ваше сердце.
                <br>
                Вот только для настоящего успеха надо заложить прочный фундамент, а значит внимательно проштудировать весь уже изученный материал, а также проверить себя в настоящем деле. Первая самоуспокоенность сменяется паникой. Нет, вам действительно ещё учиться и учиться.</p>
            </details>
          </li>
      
          <li class="timeline">
            <div class="icon"></div>
            <details class="panel">
              <summary>Я знаю чуть-чуть и мне этого достаточно</summary>
              <p>Вы с легкостью устраиваетесь на новую работу, находите время на обучение и сторонние увлечения. Мечты о всех деньгах мира в прошлом, теперь вы просто довольны тем что нашли свою область разработки и готовы развиваться в данном направлении. Отныне вы легко разделяете критику на конструктивную и огульную и всегда готовы стать чуть лучше.</p>
            </details>
          </li>
      
          <li class="timeline">
            <div class="icon"></div>
            <details class="panel">
              <summary>Не программист – вдохновитель</summary>
              <p>Вы собираете собственную команду или примыкаете к уже существующей для того, чтобы сделать то, что никто, как минимум, в этой стране не делал. На несколько месяцев и даже лет приходится отказаться от личной жизни во благо великой цели. Первые успехи лишают вас сна, а неудачи заставляют предъявить более жесткие требования к себе и членам команды.</p>
            </details>
          </li>
      
          <li class="timeline">
            <div class="icon"></div>
            <details class="panel">
              <summary>Не знаю почему, но от меня все ждут совета</summary>
              <p>Каков бы ни был выбор, отныне все претензии коллег к вашей персоне сводятся разве что к вымышленным родственно-административным связям. В вашем профессионализме нет никаких сомнений, это легко понять по постоянно задаваемым вопросам, далеко не всегда связанным с работой и карьерой. Несмотря на это, вы по-прежнему считаете, знаете лишь малую часть мира программирования. Которой правда вам вполне достаточно.

            </p>
            </details>
          </li>
      
        </ul>
      </div>

    <script src="js/app.js"></script>
    <script src="js/rating.js"></script>
  </body>
</html>
